<!DOCTYPE html>

<main class="contenedor">

<body>


<h1>TALLER ALFREDO</h1>

<h2>Sistema de Gestion de Empleados</h2>

<h3>¿Como deseas ingresar?</h3>

<p>Selecciona tu rol para continuar</p>

</body>


<section class="roles"></section>
<div class="carta-empleado">

<h2>Empleado</h2>

<p>
    Registra tu ingreso, egreso y<br> salidas intermedias.

</p>

<button>
    Ingresar como Empleado
</button>

</div>

<div class="carta-administrador">

   <h2>Administrador</h2> 
   <p>
    Gestiona empleados, turnos, <br>
    ausencias y reportes.
   </p>
   <button>
    Ingresar como Administrador
   </button>

</div>

<div class="aviso"></div>
<span>Si no estas seguro de tu rol, consulta con el administrador del sistema.</span>


</main>

</html>